@page
@model EveMarketAnalysisClient.Pages.Auth.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Redirecting to EVE Online SSO...</h2>
<p>If you are not redirected automatically, <a href="@Model.RedirectUrl">click here</a>.</p>
